<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <mat-icon>settings</mat-icon>
        </div>
        <mat-card-title>Last 5 services</mat-card-title>
        <!-- <mat-card-subtitle>card subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <div class="service-table-container">
            <table mat-table [dataSource]="services" class="services-table" matSort matSortActive="date"
                matSortDisableClear multiTemplateDataRows matSortDirection="desc">
                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
                </ng-container>

                <!-- Current Column -->
                <ng-container matColumnDef="currentKlm">
                    <th mat-header-cell *matHeaderCellDef>Service at (klm)</th>
                    <td mat-cell *matCellDef="let row">{{ row.currentKlm }}</td>
                </ng-container>

                <!-- Next Service Column -->
                <ng-container matColumnDef="nextService">
                    <th mat-header-cell *matHeaderCellDef>Next service at (klm)</th>
                    <td mat-cell *matCellDef="let row">{{ row.nextService }}</td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>
                        Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.date * 1000 | date }}</td>
                </ng-container>

                <!-- Cost Column -->
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>
                        Cost
                    </th>
                    <td mat-cell *matCellDef="let row; let i = dataIndex">
                        {{ row.cost | currency }}
                    </td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button class="service-edit-btn" (click)="editService(row)" mat-button
                            matTooltip="Click to edit service">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="service-details" [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                ">
                            <div class="service-description">
                                <span class="service-description-title">Service at (klm):</span>
                                <span class="service-description-content">{{ element.currentKlm }}</span>
                            </div>
                            <div class="service-description">
                                <span class="service-description-title">Service date:</span>
                                <span class="service-description-content">{{ element.date * 1000 | date }}</span>
                            </div>
                            <div class="service-description">
                                <span class="service-description-title">Cost:</span>
                                <span class="service-description-content">{{ element.cost | currency }}</span>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns" class="service-row"
                    [class.service-expanded-row]="expandedElement === element" (click)="
            expandedElement = tableRowClicked(expandedElement === element)
              ? null
              : element
          "></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="service-detail-row"></tr>
            </table>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button (click)="newService()" mat-button>
            <mat-icon>add</mat-icon> Add service
        </button>
    </mat-card-actions>
</mat-card>