$white-color: #fff;

$body-color: $white-color;
$body-bg: #202020a1;

$toolbar-color: $white-color;
$toolbar-bg: #202020;

$card-content-bg: #444;
$cart-title-bg: #333;
$card-text-color: $white-color;

$table-row-hover: #333;
$table-row-active: #334444;
