/* You can add global styles to this file, and also import other style files */
@import "./variables";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    background: #202020;
    color: $body-color;
    overflow: hidden;
    min-height: 100vh;
}
