.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  justify-items: center;

  padding-bottom: 2rem;
}

@media screen and (min-width: 801px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
